<form method="get" action="/quizes">
  <input type="text" name="search" placeholder="Buscar pregunta">
  <input type="submit" value="Enviar">
</form>
<br>
<% var i; for (i=0; i < quizes.length; i++) { %>
  <a href="quizes/<%= quizes[i].id %>"><%=quizes[i].pregunta %></a>
  <br>
  <br>
<% } %>
