<center>
<table cellspacing="10">
<%for(index in statData){%>
  <tr>
    <td align="center"><%= statData[index].texto %></td>
    <td align="center"><%= statData[index].valor %></td>
  </tr>
<% } %>
</table>
</center>
